alembic==1.7.6
fastapi==0.75.0
gensim==4.1.2
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
httptools==0.2.0
langcodes==3.3.0
lxml==4.6.3
Mako==1.2.0
nltk==3.7
numpy
olefile==0.46
orjson==3.6.7
packaging==21.0
pandas
pandocfilters==1.4.2
protobuf==3.19.4
psycopg2==2.9.3
ptyprocess==0.7.0
pyarrow==7.0.0
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
pydeck==0.7.1
pyLDAvis==3.3.1
Pympler==1.0.1
QtPy==1.10.0
querystring-parser==1.2.4
regex==2022.1.18
requests==2.27.1
requests-unixsocket==0.2.0
scikit-learn 
